.categories {
    padding: 0 2rem 5rem;
    .category {
        display: flex;
        flex-direction: column;
        &__name {
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: #000000;
            color: #FFF;
            border-radius: 8px;
            padding: 1.2rem 2rem;
            font-size: 1rem;
            ion-icon {
                font-size: 3rem;
            }
        }
        &__list {
            margin: 1rem 2rem;
            &Item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 300;
                padding: 0.77rem 0;
                text-transform: capitalize;
            }
        }
    }
}