.categories {
    padding: 0 2rem 5rem;
    .category {
        padding: 2rem;
        &__name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-icon {
                font-size: 2rem;
            }
        }
        &__subItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .category:nth-of-type(5n+1) {
        background-color: lawngreen;
    }
    .category:nth-of-type(5n+2) {
        background-color: rgb(252, 59, 0);
    }
    .category:nth-of-type(5n+3) {
        background-color: rgb(17, 0, 252);
    }
    .category:nth-of-type(5n+4) {
        background-color: rgb(252, 0, 231);
    }
    .category:nth-of-type(5n+5) {
        background-color: rgb(252, 206, 0);
    }
}