.categories {
    padding: 0 2rem 5rem;
    .category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        border-radius: 8px;
        margin-bottom: 1.2rem;
        ion-icon {
            font-size: 2rem;
        }
        &__subItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &:nth-of-type(9n+1) {
            background-color: #D70060;
        }
        &:nth-of-type(9n+2) {
            background-color: #E54028;
        }
        &:nth-of-type(9n+3) {
            background-color: #F18D05;
        }
        &:nth-of-type(9n+4) {
            background-color: #F2BC06;
        }
        &:nth-of-type(9n+5) {
            background-color: #5EB11C;
        }
        &:nth-of-type(9n+6) {
            background-color: #3A7634;
        }
        &:nth-of-type(9n+7) {
            background-color: #0ABEBE;
        }
        &:nth-of-type(9n+8) {
            background-color: #00A1CB;
        }
        &:nth-of-type(9n+9) {
            background-color: #115793;
        }
    }
}